body{
    background-color:#bbbbff;
    padding:0px;
    margin:0px;
}
@font-face {
    font-family: "aahub";
    src: url("https://ro5evunpb8zi7crga5rfqg-on.drv.tw/font/aahub.woff2") format("woff2"),
      url("https://ro5evunpb8zi7crga5rfqg-on.drv.tw/font/aahub.woff") format("woff"),
      url("https://ro5evunpb8zi7crga5rfqg-on.drv.tw/font/aahub.ttf") format("ttf");
    font-display: swap;
  }
  
  .aahub {
    font-family: "aahub";
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 18px;
    display:inline;
  }
#bar{
    border:solid 1px #cccccc;
    background-color:#ffffff;
    padding:10px;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1;
}

h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}

ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
#scroller {
    height: 500px;
    overflow: auto;
}

/*******************************
* 左からの吹き出し
********************************/
.left_balloon {
    position: relative;
    background: #f1f0f0;
    border: 0px solid #777;
    margin: 10px;
    padding: 14px;
    border-radius: 15px;
    display:inline-block;
    white-space: pre-wrap;
}

/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}



.sender_name{
    margin-bottom: -5px;
    padding-left: 20px;
    color: rgba(0, 0, 0, .40);
}
.sender_name.me{
    float: right;
    padding: 0 20px 0 0;
}

#form{
    padding: 14px;
    border:solid 1px #777;
    background-color: #ffffff;
    border-radius: 10px;
    display:inline-block;
    margin: 10px;
}